<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Riego</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script> 
    
    <link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename = 'app.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Arduino - Python - Sql - Html - Css - JS - SocketIO</h1>

    
    <div class="container">
        <div class="card-body">
            <!--Formulario-->
            <form id="form-control" method="POST" action='#'>
                <div >
                    <div>
                        <label>Descripción Planta</label>
                        <input type="text" id="descripcion" >
                    </div>
                    <div>
                        <label>Temperatura Inicial</label>
                        <input type="number" id="temperatura_inicial" step=".01" max="100" min="0">
                        <p id="demo"></p>
                    </div>
                    <div>
                        <label>Temperatura Final</label>
                        <input type="number" id="temperatura_final" step=".01">
                    </div>
                    <div>
                        <label>Humedad Inicial</label>
                        <input type="number" id="humedad_inicial" step=".01">
                    </div>
                    <div>
                        <label>Humedad Final</label>
                        <input type="number" id="humedad_final" step=".01">
                    </div>
                    <div>
                        <button type="submit" >Guardar</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="hero">
            <h2>Gráfico de Registro de por Planta</h2>
            <div class="chart-container">
            <canvas id="myChart" width="1000" height="600"></canvas>
            </div>
      </div>
    </div>
    
</body>
</html>