.hero {
    /* background: #eee; */
    border: 1px solid #d8d8d8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero h2 {
    margin-top: 0;
    margin-bottom: 0.3em;
    text-align: center;
}


.chart-container {
	max-width: 800px;
	margin: 0 auto;
}
