@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.card_medicion {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  min-height: auto;
}
.card_medicion h3 {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 8px;
}
.card_medicion .card-content {
  display: flex;
  justify-content: center;
}
.card_medicion .gaugeMeter {
  height: 280px;
  position: relative;
}
.card_medicion u {
  text-decoration: none;
}
.card_medicion span {
  display: none;
}
.card_medicion p {
  width: 100%;
  height: -webkit-min-content !important;
  height: min-content !important;
  position: absolute;
  font-size: 1.5rem !important;
  line-height: 0 !important;
  bottom: 40px;
  margin: auto;
  text-align: center;
}